/* Write your CSS code here */
li {
  list-style-type: none;
}
.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 20px;
  font-family: 'Roboto';
  color: #12022f;
}
.published-date {
  font-size: 14px;
  font-family: 'Roboto';
  color: #9aa5b1;
}
.description {
  font-size: 14px;
  font-family: 'Roboto';
  color: #9aa5b1;
}
